@import '../variables.scss';
@import '../mixins.scss';

.header-container {
    @include flexbox(flex, row, flex-start, center);
    @include content(auto, 100%, null);
    color: $dark1;

    .app-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 4rem;
        color: $dark1;
        font-weight: 700;
        text-wrap: nowrap;
    }

    .header-logo {
        height: 100%;
        width: 10rem;
    }

    .dropdown-container {
        display: none;
    }

    .menu-items-container {
        @include flexbox(flex, column, center, flex-start);
        @include content(auto, 100%, null);
        padding: 1rem;
        font-weight: 400;
        font-size: $font2;
        list-style: none;

        .menu-item {
            @include content(auto, 100%, null);
            cursor: pointer;
            padding: .5rem;
            white-space: nowrap;
            color: $dark1;
        }

        .menu-item:hover {
            text-decoration: underline;
        }

        .selected-menu-item {
            text-align: center;
            background-color: $dark3;
            border-radius: 5px;
            border-radius: 10px;
        }
    }
}


/* FOR VERTICAL TABLET RESPONSIVENESS */

// @media only screen and (min-width: 601px) and (max-width: 1050px) { 
//     .header-container {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         height: 15%;
//         padding: 1rem 2rem;
    
    
    
//         .app-title {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 3rem;
//             color: $light1;
//             font-weight: 700;
//         }

//         .menu-items-container {
//             display: flex;
//             justify-content: space-around;
//             align-items: center;
//             width: 100%;
//             color: $light1;
//             font-weight: 400;
//             font-size: 2rem;
//             box-sizing: border-box;
//         }

//         .dropdown-container { 
//             display: none;
//         }
//     }
// }


// /*FOR MOBILE RESPONSIVENESS*/

// @media only screen and (max-width: 600px) { 
//     .header-container {
//         display: flex;
//         justify-content: space-between;
//         height: 10%;
    
//         .app-title {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 2.5rem;
//             color: $light1;
//             font-weight: 700;
//         }

//         .menu-items-container {
//             display: none;
//         }

//         .dropdown-container {
//             display: block;
//             position: relative;

//             .menu-icon {
//                 display: flex;
//                 justify-content: flex-end;
//             }
//         }
//     }
// }