@import '../variables.scss';
@import '../mixins.scss';

.landing-page-container {
    @include flexbox(flex, column, flex-start, center);
    height: 100%;
    cursor: default;
    background-color: $dark5;
    text-decoration: none;
    overflow-y: auto;
    overflow-x: hidden;

    h1 {
        text-align: center;
        padding: 1rem;
        font-size: 8rem;
        margin: 1rem 0;
    }

    .welcome-section {
        @include flexbox(flex, row, center, center);
        @include content(20vh, 100%, null);
        padding: 1rem 1rem 4rem 1rem;
        text-wrap: wrap;
        font-size: $font1;

        h2 {
            border-right: 2px solid $highlight2;
            padding: 6rem 1rem 6rem 0;
            @include content(100%, fit-content, null);
            text-wrap: nowrap;
            margin-right: 2rem;

        }

        p {
            @include content(fit-content, 100%, null);
            text-align: center;
            color: $highlight1;
            font-weight: 900;
            margin-right: 2rem;
            text-wrap: wrap;
        }
    }

    .login-signup-section {
        @include flexbox(flex, row, center, center);
        @include content(100%, 90%, null);
        border-bottom: 2px solid $highlight2; 
        padding: 1rem;

        p {
            font-size: $font1;
            padding: 1rem;
            margin-right: 1rem;
        }

        .sign-up-button {
            background-color: $highlight2;
            color: $dark1;

            &:hover {
                background-color: $highlight1;
            }
        }

        .login-link {
            padding: 0 .5rem;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                color: $highlight1;
            }
        }
    }

    .write-on-quote {
        @include content(fit-content, 90%, null);
        text-align: center;
        padding: 2rem 1rem 2rem 1rem;
        font-size: $font4;
    }

    .divider {
        @include flexbox(flex, row, center, center);
        @include content(30vh, 90%, null);
        padding: 2rem;
        
        .icon {
            @include content(4rem, 4rem, null);
            color: $highlight2;
        }
    }

    .feature-preview-section {
        @include flexbox(flex, column, center, center);
        @include content(fit-content, 100%, null);

        h1 {
            font-size: $font5;
        }

        .feature-multi,
        .feature-long {
            @include flexbox(flex, column, space-evenly, center);
            @include content(fit-content, 100%, null);
            padding: 1rem;

            h2 {
                padding: .5rem;
                border-bottom: 2px solid $highlight2;
            }

            .highlight {
                @include flexbox(flex, column, center, center);
                @include content(fit-content, 90%, null);
                margin-bottom: 2rem;
            }
        }

        .feature-multi {
            
            .item {
                @include content(100%, 100%, null);

                img {
                    margin: 1rem;
                }
            }
        }
        
        .feature-long {

            .item {
                @include flexbox(flex, row, center, center);
                @include content(100%, 100%, null);

                img {
                    width: 75%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .img {
            @include flexbox(flex, row, center, center);
            height: 20%;
        }

        .highlight {
            @include flexbox(flex, column, center, flex-start);
            border: 2px solid $highlight3;
            border-radius: 5px;
            font-size: $font4;
            color: $highlight1;

            p {
                padding: 0 2rem;
            }
        }
    }

    .frequently-asked-questions-section {
        @include flexbox(flex, column, flex-start, center);
        @include content(fit-content, 100%, null);
        font-weight: bolder;
        padding: 1rem;
        
        .q-and-a {
            @include content(fit-content, 50%, null);
            
            h3 {
                color: $highlight1;
                font-size: $font1;
            }

            p {
                margin-bottom: 3rem;
                color: $dark1;
                font-size: $font2;
            }
        }

        h4 {
            a {
                color: $highlight1;
            }
        }
    }

    .icon {
        @include content(20px, 20px, null);
        padding: 0 .5rem;
    }

    footer {
        @include flexbox(flex, row, center, center);
        @include content(fit-content, 100%, null);
        background-color: $highlight3;
        padding: 1rem;

        a {
            margin: 1rem;
        }
    }
}