@import '../variables.scss';
@import '../mixins.scss';

.dashboard-contents {
    @include flexbox(flex, row, space-around, null);
    @include content(95%, 95%, $light1);
    border-radius: .5rem;
    padding: 1rem;

    .left-side {
        @include content(98%, 50%, $light2);
        border-radius: .5rem;
        background-color: $light2;
    }

    .right-side {
        @include flexbox(flex, column, space-around, null);
        @include content(98%, 45%, $light1);
        border-radius: .5rem;

        .dashboard-section {
            @include content(48%, 100%, $light2);
            border-radius: .5rem;
        }
    }
}


/* FOR VERTICAL TABLET RESPONSIVENESS */

@media only screen and (min-width: 600px) and (max-width: 1050px) { 
    .content-container {
        @include flexbox(flex, column, space-around, center); 
        @include content(100%, null, null);
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        // align-items: center;
        // height: 100%;
        padding: 1rem 2rem;
        border: 1px solid orange;
    
        .dashboard-contents {
            @include flexbox(flex, column, null, null);
            @include content(95%, 100%, light2);
            border: 1px solid red;
            // display: flex;
            // flex-direction: column;
            width: 100%;
            height: 95%;
            border: 2px solid $light2;
            background-color: $light2;
            border-radius: .5rem;
            padding: 1rem;
    
            .left-side {
                width: 100%;
                height: 35%;
                border-radius: .5rem;
                background-color: $light1;
                margin-bottom: 1rem;
            }
    
            .right-side {
                // @include flexbox(flex, column, space-around, null);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 75%;
                // border: 2px solid blue;
    
                .dashboard-section {
                    width: 100%;
                    height: 50%;
                    border-radius: .5rem;
                    background-color: $light1;
                    margin-bottom: 1rem;
                    border: 1px solid red;
                }
            }
        }
    }
}


/* FOR MOBILE RESPONSIVENESS */

@media only screen and (max-width: 600px) { 
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    
    
        .dashboard-contents {
            // @include content(95%, 100%, $light2);

            display: flex;
            flex-direction: column;
            // width: 100%;
            // height: 95%;
            // border: 2px solid $light2;
            // background-color: $light2;
            border-radius: .5rem;
            padding: 1rem;
    
            .left-side {
                width: 100%;
                height: 35%;
                border-radius: .5rem;
                background-color: $light1;
                margin-bottom: 1rem;
            }
    
            .right-side {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 75%;
    
                .dashboard-section {
                    width: 100%;
                    height: 50%;
                    border-radius: .5rem;
                    background-color: $light1;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}