@import '../variables.scss';
@import '../mixins.scss';

.dashboard-contents {
    @include flexbox(flex, column, flex-start, null);
    @include content(calc(95vh - 3rem), 97.5%, null);
    
    .dash-header {
        @include flexbox(flex, row, flex-start, center);
        @include content(55px, 130px, null);
        position: relative;
        transition: transform 0.3s ease;

        .personal,
        .group {
            width: 120px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.2s;
            border-radius: none;
        }

        .top {
            z-index: 10;
            transform: translate(0, 0);
        }

        .bottom {
            z-index: 0;
            transform: translate(0, 0);
        }

        &:hover {
            .bottom {
                transform: translate(95%, 0);
                transition: transform 0.3s ease;
            }
        }
    }

    .user-dash,
    .group-dash {
        @include content(100%, 100%, null);
        transition: opacity 0.3s ease;

        &.hide {
            display: none;
            opacity: 0;
        }

        &.show {
            opacity: 1;
        }
    }

    .user-dash {
        margin: 5px;

        .goals-list {
            @include content(25%, 100%, null);
            border: 1px solid white;
        }
        
        .bottom-lists {
            @include flexbox(flex, row, space-between, flex-start);
            @include content(75%, 100%, null);

            .milestones-list {
                @include content(100%, 50%, null);
                border: 1px solid white;
            }
            
            .achievements-list {
                @include content(100%, 50%, null);
                border: 1px solid white;
            }
        }

    }

    .group-dash {
        @include flexbox(flex, row, space-between, flex-start);
        @include content(100%, 100%, null);
        margin: 5px;
        border: 1px solid yellow;

        .sign-up {
            @include content(100%, 75%, null);
            border: 1px solid white;
        }

        .members-list {
            @include content(100%, 25%, null);
            border: 1px solid white;
        }
    }
}

/* FOR VERTICAL TABLET RESPONSIVENESS */

// @media only screen and (min-width: 600px) and (max-width: 1050px) { 
//     .content-container {
//         @include flexbox(flex, column, space-around, center); 
//         @include content(100%, null, null);
//         // display: flex;
//         // flex-direction: column;
//         // justify-content: space-around;
//         // align-items: center;
//         // height: 100%;
//         padding: 1rem 2rem;
//         border: 1px solid orange;
    
//         .dashboard-contents {
//             @include flexbox(flex, column, null, null);
//             @include content(95%, 100%, light2);
//             border: 1px solid red;
//             // display: flex;
//             // flex-direction: column;
//             width: 100%;
//             height: 95%;
//             border: 2px solid $light2;
//             background-color: $light2;
//             border-radius: .5rem;
//             padding: 1rem;
    
//             .left-side {
//                 width: 100%;
//                 height: 35%;
//                 border-radius: .5rem;
//                 background-color: $light1;
//                 margin-bottom: 1rem;
//             }
    
//             .right-side {
//                 // @include flexbox(flex, column, space-around, null);
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-around;
//                 width: 100%;
//                 height: 75%;
//                 // border: 2px solid blue;
    
//                 .dashboard-section {
//                     width: 100%;
//                     height: 50%;
//                     border-radius: .5rem;
//                     background-color: $light1;
//                     margin-bottom: 1rem;
//                     border: 1px solid red;
//                 }
//             }
//         }
//     }
// }


// /* FOR MOBILE RESPONSIVENESS */

// @media only screen and (max-width: 600px) { 
//     .content-container {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         align-items: center;
//         height: 100%;
    
    
//         .dashboard-contents {
//             // @include content(95%, 100%, $light2);

//             display: flex;
//             flex-direction: column;
//             // width: 100%;
//             // height: 95%;
//             // border: 2px solid $light2;
//             // background-color: $light2;
//             border-radius: .5rem;
//             padding: 1rem;
    
//             .left-side {
//                 width: 100%;
//                 height: 35%;
//                 border-radius: .5rem;
//                 background-color: $light1;
//                 margin-bottom: 1rem;
//             }
    
//             .right-side {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-around;
//                 width: 100%;
//                 height: 75%;
    
//                 .dashboard-section {
//                     width: 100%;
//                     height: 50%;
//                     border-radius: .5rem;
//                     background-color: $light1;
//                     margin-bottom: 1rem;
//                 }
//             }
//         }
//     }
// }