@import '../variables.scss';

.dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 75%;
    padding: 2rem;


    .dashboard-contents {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        border: 2px solid $light2;
        background-color: $light2;
        border-radius: .5rem;
        padding: 1rem;

        .left-side {
            width: 50%;
            border-radius: .5rem;
            background-color: $light1;
        }

        .right-side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 45%;

            .dashboard-section {
                width: 100%;
                height: 48%;
                border-radius: .5rem;
                background-color: $light1;
            }
        }
    }
}


/* FOR VERTICAL TABLET RESPONSIVENESS */

@media only screen and (min-width: 600px) and (max-width: 1050px) { 
    .dashboard-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 1rem 2rem;
    
        .dashboard-contents {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 95%;
            border: 2px solid $light2;
            background-color: $light2;
            border-radius: .5rem;
            padding: 1rem;
    
            .left-side {
                width: 100%;
                height: 35%;
                border-radius: .5rem;
                background-color: $light1;
                margin-bottom: 1rem;
            }
    
            .right-side {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 75%;
    
                .dashboard-section {
                    width: 100%;
                    height: 50%;
                    border-radius: .5rem;
                    background-color: $light1;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


/* FOR MOBILE RESPONSIVENESS */

@media only screen and (max-width: 600px) { 
    .dashboard-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    
    
        .dashboard-contents {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 95%;
            border: 2px solid $light2;
            background-color: $light2;
            border-radius: .5rem;
            padding: 1rem;
    
            .left-side {
                width: 100%;
                height: 35%;
                border-radius: .5rem;
                background-color: $light1;
                margin-bottom: 1rem;
            }
    
            .right-side {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 75%;
    
                .dashboard-section {
                    width: 100%;
                    height: 50%;
                    border-radius: .5rem;
                    background-color: $light1;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}