@import '../variables.scss';
@import '../mixins.scss';


.menu-dropdown-container {
    @include flexbox(flex, column, center, center);
    @include content(fit-content, 100%, $dark4);
    flex-direction: column !important;
    position: absolute;
    top: -35px;
    // top: 0px;
    // right: -125px;
    right: 0px;
    border: 2px solid $dark3;
    background-color: $dark4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    

    .option {
        @include flexbox(flex, row, center, center);
        @include content(50%, 90%, null);

        color: $dark1;
        padding: .5rem;
        font-size: $font2;
        font-weight: 500;

        &:hover {
            cursor: pointer;
            background-color: $dark3;
            color: $highlight1;
        }
    }


    .hidden {
        visibility: hidden;
    }
}