@import '../variables.scss';
@import '../mixins.scss';

.word-tracker-container {
  @include flexbox(flex, column, center, null);
  @include content(auto, auto, null);
  color: $dark1;
  margin: .5rem 0rem 0rem 1rem;

  form {
    @include flexbox(flex, row, flex-start, center);
    position: relative;
    display: inline-block;

    input:focus {
      outline: none;
    }

    /* Hide the input field increment/decrement buttons for now */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  form input {
    padding: .7rem;
    margin-top: 5px;
    background-color: $dark3;
    color: $dark1;
    border-radius: 5px;
    border: none;
  }

  form button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: $dark1;
    font-size: $font2;
    font-weight: bolder;
    padding: .6rem;
    margin-top: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: $dark2;
    border-radius: 0px 5px 5px 0px;
  }
  
}