@import '../variables.scss';
@import '../mixins.scss';

.word-tracker-container {
  @include flexbox(flex, column, center, null);
  @include content(100%, 30%, null);
  color: #fff;
  margin-top: .5rem;

  form {
    @include content(25%, 100%, null);
  
    input {
      @include content(null, 15%, null);
      padding: .6rem;
    }
  
    button {
      font-size: $font2;
      padding: .5rem;
      margin-left: .5rem;
      cursor: pointer;
    }
  }
  
}