@import '../variables.scss';
@import '../mixins.scss';

.calendar-container {
    @include content(40%, 20%, null);
    border: 1px solid red;

    .calendar-header {
        @include flexbox(flex, row, null, center);
        padding: .5rem;

        span {
            margin: 0rem .2rem; 
            padding: .2rem;
            // border: 1px solid orange;
        }

        .previous {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
            margin-right: .5rem;
        }

        .next {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
        }

        .previous:hover {
            background-color: $dark3;
            transition: .5s;
        }
        
        .next:hover {
            background-color: $dark3;
            transition: .5s;
        }

    }

    .grid-container {
        @include content(85%, 100%, null);
        border: 1px solid yellow;
    }
}