@import '../variables.scss';
@import '../mixins.scss';

.calendar-container {
    @include content(12%, 12%, null);

    .calendar-header {
        @include flexbox(flex, row, space-between, center);
        padding: .5rem;

        .month {
            @include content(null, 25%, null);
        }

        .previous {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
            margin-right: .5rem;
        }

        .next {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
        }

        .previous:hover {
            background-color: $dark2;
            transition: .5s;
        }
        
        .next:hover {
            background-color: $dark2;
            transition: .5s;
        }

    }

    .grid-container {

        .weekdays-row, .days-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        .weekdays-row {
            font-weight: bold;
            text-align: center;
        }

        .day-cube {
            @include flexbox(flex, null, center, center);
            aspect-ratio: 1 / 1;
            color: $dark1;
            background-color: $dark3;
            margin: .2rem;
            cursor: pointer;

            &.empty {
                border: none;
            }

            .day-number {
                font-size: 0.8rem;
                color: $dark1;
            }
        }

        .day-cube:hover {
            background-color: $dark2;
        }
    }
}