@import '../variables.scss';
@import '../mixins.scss';

.calendar-container {
    @include content(auto, auto, null);
    padding: 1rem;

    .calendar-header {
        @include flexbox(flex, row, space-between, center);
        @include content(null, auto, null);
        gap: 0.5rem;

        .month {
            flex-grow: 1;
            text-align: center;
            white-space: nowrap
        }

        .previous,
        .next {
            flex-shrink: 0;
        }

        .previous {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
            margin-right: .5rem;
        }

        .next {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
        }

        .previous:hover {
            background-color: $dark2;
            transition: .5s;
        }
        
        .next:hover {
            background-color: $dark2;
            transition: .5s;
        }

    }

    .grid-container {
        display: block;

        .weekdays-row,
        .days-grid,
        .weekdays-row {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        .weekdays-row {
            font-weight: bold;
            text-align: center;

            span {
                @include flexbox(flex, null, center, center);
                margin: 0rem .2rem;
                font-size: 0.8rem;
                border: 5px solid transparent;
                border-bottom: none;
                box-sizing: border-box;
            }
        }

        .default-cube {
            @include flexbox(flex, null, center, center);
            aspect-ratio: 1 / 1;
            font-weight: bolder;
            color: $dark1;
            background-color: $dark3;
            border: 2px solid $dark3;
            border-radius: 2px;
            margin: .2rem;
            cursor: pointer;

            &.empty {
                border: none;
            }

            .day-number {
                font-size: 0.8rem;
                color: $dark1;
            }
        }

        .default-cube:hover,
        .words1:hover,
        .words2:hover,
        .words3:hover {
            border: 2px solid $dark2;
        }

        .words1 {
            background-color: $highlight1;
            border: 2px solid $highlight1;
        }

        .words2 {
            background-color: $highlight2;
            border: 2px solid $highlight2;
        }

        .words3 {
            background-color: $highlight3;
            border: 2px solid $highlight3;
        }
    }

    .update-date-container {
        @include flexbox(flex, column, center, null);
        @include content(auto, auto, null);
        position: relative;
        border: none;
        background-color: $dark5;
        padding: 1rem .5rem;
        margin-top: 1rem;
        border-top: 2px solid $dark2;
        border-bottom: 2px solid $dark2;
        z-index: 1;
        transition: max-height 0.5s ease-in-out, opacity 0.4s ease, transform 0.4s ease;
        overflow: hidden;

        &.is-hidden {
            max-height: 0;
            opacity: 0;
            pointer-events: none;
            margin-top: 0;
            transform: translateY(-10px);
        }

        &.is-visible {
            max-height: 500px;
            opacity: 1;
            transform: translateY(0);
        }

        p {
            @include content(auto, auto, null);
            font-weight: 500;
        }

        

        form {
            @include flexbox(flex, column, space-between, flex-start);
            @include content(auto, auto, null);
            padding-bottom: 1rem;

            input:focus {
                outline: none;
            }
        }

        form input {
            @include content(auto, 50%, null);
            padding: .7rem;
            margin-top: 5px;
            background-color: $dark3;
            color: $dark1;
            border-radius: 5px;
            border: none;
        }

        button {
            @include content(auto, auto, null);
            border: none;
            background-color: transparent;
            color: $dark1;
            font-size: $font2;
            font-weight: bolder;
            padding: .6rem;
            margin: 5px;
            cursor: pointer;
            background-color: $dark3;
            border-radius: 5px 5px 5px 5px;
        }

        button:hover {
            background-color: $dark2;
            border-radius: 5px 5px 5px 5px;
        }

        /* Hide the input field increment/decrement buttons for now */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        input[type=number] {
        -moz-appearance: textfield;
        }

        .caution-msg {
            width: 55%;
            text-wrap: wrap;
        }
    }
}