@import '../variables.scss';
@import '../mixins.scss';

.calendar-container {
    @include content(12%, 12%, null);
    margin-left: 1rem;

    .calendar-header {
        @include flexbox(flex, row, space-between, center);
        padding: .5rem;

        .month {
            @include content(null, 25%, null);
        }

        .previous {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
            margin-right: .5rem;
        }

        .next {
            border-radius: 50%;
            padding: .4rem;
            cursor: pointer;
        }

        .previous:hover {
            background-color: $dark2;
            transition: .5s;
        }
        
        .next:hover {
            background-color: $dark2;
            transition: .5s;
        }

    }

    .grid-container {

        .weekdays-row, .days-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        .weekdays-row {
            font-weight: bold;
            text-align: center;
        }

        .default-cube {
            @include flexbox(flex, null, center, center);
            aspect-ratio: 1 / 1;
            font-weight: bolder;
            color: $dark1;
            background-color: $dark3;
            border: 2px solid $dark3;
            margin: .2rem;
            cursor: pointer;

            &.empty {
                border: none;
            }

            .day-number {
                font-size: 0.8rem;
                color: $dark1;
            }
        }

        .default-cube:hover,
        .words1:hover,
        .words2:hover,
        .words3:hover {
            border: 2px solid $dark2;
        }

        .words1 {
            background-color: $highlight1;
            border: 2px solid $highlight1;
        }

        .words2 {
            background-color: $highlight2;
            border: 2px solid $highlight2;
        }

        .words3 {
            background-color: $highlight3;
            border: 2px solid $highlight3;
        }
    }
}