@import '../mixins.scss';
@import '../variables.scss';


.members-list {
    @include flexbox(flex, column, flex-start, center);
    @include content(100%, 25%, null);
    border-left: 2px solid $dark3;
    padding: .5rem;
    overflow-y: auto;
    overflow-x: hidden;

    h3 {
        font-size: $font1;
        margin: .5rem;
    }


    .member-card {
        @include content(40%, 90%, null);
        margin: .5rem;
        padding: .5rem;
        border: 1px solid rgba(255, 255, 255, 0.05);
        box-shadow: 
            0 4px 12px rgba(0, 0, 0, 0.25), 
            0 1px 3px rgba(0, 0, 0, 0.2);

        .user-icon-name {
            @include flexbox(flex, row, flex-start, center);
            font-size: $font4;

            .icon {
                @include content(40px, 40px, null);
                padding: 1rem;
                border-right: 1px solid $dark3;
                margin-right: .5rem;
            }
        }

        .card-details {
            border-top:1px solid $dark4;
        }

        &:hover {
            cursor: pointer;
            background-color: $dark3;
        }

    }
}