@import '../variables.scss';
@import '../mixins.scss';

.reset-password-page {
    @include flexbox(flex, column, center, center);
    @include content(100%, 100%, $dark5);

    div {
        @include content(fit-content, fit-content, null);
        position: relative;
        padding: 1rem;
        
        input {
            @include content(fit-content, 100%, null);
            padding: .7rem;
            margin-top: .5rem;
            background-color: $dark3;
            color: $dark1;
            border-radius: 5px;
            border: none;
        }
        
        input:focus {
            outline: 2px solid $dark2;
        }

        .visibility-icon {
            @include flexbox(flex, row, center, center);
            position: absolute;
            top: 50px;
            right: 0px;
            
            .icon {
                @include content(24px, 24px, null);

            }

            &:hover {
                cursor: pointer;
                color: $dark1;
            }
        }
    }

    span {
        color: $highlight1;
    }

    button:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
        opacity: 0.7;
    } 
}