@import '../variables.scss';
@import '../mixins.scss';


.warm-up-container {
    @include flexbox(flex, column, flex-start, center);
    @include content(87vh, 100%, null);
    padding: 2rem;
    border: 1px solid red;

    .add-prompt-label {
        color: $dark1;
        padding: 1rem 0rem;
    }

    textarea {
        @include content(10rem, 40rem, null);
        resize: vertical;
        max-height: 10rem;
        min-height: 3rem;
        padding: 1rem;
    }

    button {
        margin-top: 1rem;
    }

}