@import '../variables.scss';
@import '../mixins.scss';


.warm-up-container {
    @include flexbox(flex, column, flex-start, center);
    @include content(94vh, 96%, null);
    position: relative;
    padding: .5rem 2rem;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease, transform 0.4s ease;

    .Toolbar-container {
        @include flexbox(flex, row, null, null);
        @include content (fit-content, fit-content, null);
        border-bottom: 2px solid $dark4;

        .tool {
            @include content(fit-content, fit-content, null);
            background-color: $dark4;
            padding: .5rem;
            margin: .5rem;
        }

        .tool:hover {
            cursor: pointer;
            background-color: $dark3;
        }
    }

    .writing-view,
    .add-view,
    .incomplete-view,
    .complete-view,
    .discard-view {
        @include flexbox(flex, column, flex-start, center);
        width: 100%;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }

    .writing-view {
        @include flexbox(flex, column, flex-start, center);

        .random-container {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.5s ease-in-out;
            width: 100%;

            &.has-prompt {
                grid-template-rows: 1fr;
                padding: 1rem;
            }

            
            .random-prompt {
                position: relative;
                min-height: 0;
                text-align: center;
                width: 100%;
                padding-top: 1rem;
            }

            .random-prompt-long {
                text-align: left;
            }

            .random-prompt,
            .random-prompt-long {
                opacity: 0;
                animation: fadeIn 0.4s forwards;
                animation-delay: 0.2s;
            }

            @keyframes fadeIn {
                to {opacity: 1;}
            }
        }

        .writing-space {
            @include flexbox(flex, column, flex-start, center);
            @include content(85%, 100%, null);
        }
    }

    .editing-view {
        @include flexbox(flex, column, center, center);
        @include content(100%, 100%, null);
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid $dark4;
        transform: translate(-50%, -50%);
        background-color: $dark5;
        z-index: 10;

        label {
            font-size: $font1;
        }
    }

    .list-container {
        @include flexbox(flex, column, flex-start, center);
        width: calc(100% - 3.5rem);
        max-height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    .selected {
        border: 1px solid $dark1;
    }

    .add-prompt-label {
        color: $dark1;
        padding: 1rem 0rem;
        font-size: $font1;
        font-weight: bold;
    }

    .message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $font1;
        background-color: $dark3;
    }

    .show-msg {
        opacity: 1;
    }

    .hide-msg {
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        margin-top: 0;
    }

    .icon {
        @include content(24px, 24px, null);
    }

    .back-next-icons {
        @include content (fit-content, fit-content, null);
        position: absolute;
        left: 0px;
        top: -15px;
        margin-right: 1rem;
        cursor: pointer;

        .icon {
            margin: 0 4px;

            &:hover {
                color: $highlight1;
            }
        }
    }

    textarea {
        @include content(50%, 50%, null);
        min-height: 300px;
        resize: none;
        padding: 1rem;
        background-color: $dark3;
        border: 1px solid $dark3;
        overflow: auto;
        color: $dark1;
        font-size: $font2;
        font-weight: bold;
        scrollbar-width: thin;
        scrollbar-color: $dark1 $dark3;
        margin-top: 1rem;
    }

    textarea:focus {
        outline: 2px solid $dark2;
        caret-color: $dark1;
        color: $dark1;
    }

    button {
        margin-top: 1rem;
    }

    ul {
        @include flexbox(flex, column, flex-start, flex-start);
        gap: 1;

        button {
            margin: .5rem;
        }

        button:hover {
            cursor: pointer;
        }
        

        li {
            list-style-type: none;
            margin-left: 1rem;
        }

        label {
            margin-right: 1rem;
        }
    }

    .hide-view {
        display: none;
    }

    .show-view {
        display: flex;
        opacity: 1;
    }

    button:disabled {
        cursor:  not-allowed;
    }
}