@import '../variables.scss';
@import '../mixins.scss';

.stats-container {
    @include content(100%, 100%, null);

    .graph-container {
      @include content(25%, 100%, null);
      padding: 1rem;
    }
}