@import '../variables.scss';
@import '../mixins.scss';

.stats-container {
    @include flexbox(flex, row, center, flex-start);
    @include content(100%, 100%, null);

    .graph-container {
      @include content(25%, 50%, null);
      padding: 1rem;
    }
}