@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global Styling */

html, body, body > div {
  font-family: 'amaranth-regular';
  color: $dark1;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
    @include content(auto, auto, null);
    border: none;
    background-color: transparent;
    color: $dark1;
    font-size: $font2;
    font-weight: bolder;
    padding: .6rem;
    margin: 5px;
    cursor: pointer;
    background-color: $dark3;
    border-radius: 5px 5px 5px 5px;
}

button:hover {
    background-color: $dark2;
    border-radius: 5px 5px 5px 5px;
}

.hide {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    margin-top: 0;
}

.show {
    opacity: 1;
}

/*Scrollbar Global Styling*/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
  background: $dark5;
}

::-webkit-scrollbar-thumb {
  background: $highlight2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $highlight1;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: block;
  width: 16px;
  height: 16px;
  background-color: $dark4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px; 
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23527199'><polygon points='20,70 80,70 50,30'/></svg>");
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23527199'><polygon points='20,30 80,30 50,70'/></svg>");
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23527199'><polygon points='70,20 70,80 30,50'/></svg>");
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23527199'><polygon points='30,20 30,80 70,50'/></svg>");
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:hover {
  background-color: $highlight3;
  cursor: pointer;
}

/* App Specific Selectors */

.main-app-container {
  @include flexbox(flex, row, flex-start, flex-start);
  height: 100%;
  cursor: default;
  background-color: $dark5;
  text-decoration: none;

  .sidebar {
    @include flexbox(flex, column, flex-start, flex-start);
    height: 100%;
    flex: 0 0 255px;
    box-shadow: 1px 0px 20px -10px #000;
    z-index: 5;

    .app-title {
      @include flexbox(flex, row, center, center);
      @include content(auto, 100%, null);
      gap: .4rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      padding: 1rem 0rem 0rem 0rem;
    }
  }

  .content-right {
    @include flexbox(flex, column, flex-start, flex-start);
    @include content(auto, 100%, null);
    overflow: hidden;

    .header {
      @include flexbox(flex, row, space-between, null);
      @include content(2.5rem, 100%, null);
      padding: 0.5rem;
      border-bottom: 1px solid $dark2;

      .top-right-corner {
        @include flexbox(flex, row, center, center);
        padding: 0 .5rem;

        span {
          font-size: $font1;
          font-weight: bolder;
        }

        .icon {
          @include content(24px, 24px, null);
          padding: 0 .5rem 0 0;

          &:hover {
            cursor: pointer;
            color: $highlight1;
          }
        }
      }
    }
  }
}