@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body, body > div {
  font-family: 'amaranth-regular';
  color: $dark1;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.main-app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  cursor: default;
  background-color: $dark5;
  text-decoration: none;

  .graph-container {
    @include content(auto, 20%, null);
    border: 1px solid yellow;
  }
}

a {
  text-decoration: none;
}


.test { // using to see how this element lines up with calendar - need to fix overlap or calendar container dimensions to reflect calendar size correctly
  border: 2px solid orange;
}