@mixin flexbox($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin content($height, $width, $bgColor) {
    height: $height;
    width: $width;
    background-color: $bgColor;
}