//  Light mode:

$light1: #F5EFE7;
$light2: #D9D9D9;
$light3: #7FA1C3;
$light4: #3E5879;
$light5: #213555;

// $light6: #D8C4B6; Potentially remove



// Dark mode:
$dark1: #94a3b8;
$dark2: #313b4b;
$dark3: #212529;
$dark4: #1b1e22;
$dark5: #15191d;

// Font-sizes
$font1: 1.5rem;
$font2: 1rem;
$font3: .5rem;