//  Light mode:

$light1: #D9D9D9;
$light2: #F5EFE7;
$light3: #7FA1C3;
$light4: #3E5879;
$light5: #213555;

// $light2: #D8C4B6; Potentially remove



// Dark mode:

$dark1: #6f6f6f;
$dark2: #313b4b;
$dark3: #212529;
$dark4: #262626;
$dark5: #15191d;