@import '../variables.scss';
@import '../mixins.scss';


.goals-container {
    @include flexbox(flex, row, space-around, center);
    @include content(fit-content, 99%, null);
    border-radius: .5rem;
    padding: .5rem;
    // border: 1px solid yellow;

    .goal {
        @include flexbox(flex, column, center, center);
        @include content(fit-content, fit-content, null);
        padding: 1rem;
        // border: 1px solid blue;

        span {
            padding: .2rem;
        }
        
        .goal-title {
            @include content(fit-content, fit-content, null);
            text-align: center;
            padding: 0 .5rem;
            border-bottom: 2px solid $dark2;
        }

        .goal-value,
        .goal-total {
            padding: 0 1rem;
            border-bottom: 1px solid $dark2;
        }

        .edit-icon {
            cursor: pointer;

            &:hover {
                color: $highlight1;
            }
        }
    }

}