@import '../variables.scss';
@import '../mixins.scss';

.create-group-page {
    @include flexbox(flex, column, flex-start, center);
    @include content(95vh, 100%, null);

    .group-calendar {
        @include content(50%, 50%, null);
        border: 2px solid $dark3;
        padding: .5rem;
        margin: .5rem;
    }
}